@charset "UTF-8";

@font-face {
    font-family: "NotoSans";
    src: url(assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "NotoSansIt";
    src: url(assets/fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "NotoSansBo";
    src: url(assets/fonts/static/NotoSans-Bold.ttf);
}

@font-face {
    font-family: "NotoSansMed";
    src: url(assets/fonts/static/NotoSans-Medium.ttf);
}

@font-face {
    font-family: "NotoSansReg";
    src: url(assets/fonts/static/NotoSans-Regular.ttf);
}

:root {
    --fonte-principal: 'NotoSans', sans-serif;
    --fonte-italico: 'NotoSansIt', sans-serif;
    --fonte-conguitos: 'NotoSansBo', sans-serif;
    --fonte-media: 'NotoSansMed', sans-serif;
    --fonte-regular: 'NotoSansReg', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #070920, #0B1643) no-repeat;
    background-size: cover;
    text-align: center;
}

div#title {
    background: #1F2535;
    padding: 13px 5px 10px 5px;
    border-radius: 15px;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 85vw;
}

img#logo {
    position: relative;
    right: 530px;
    bottom: 50%;
}

img#moon {
    display: none;
}

img#sun {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: #3c3d41;
    padding: 20px;
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

